@import "tailwindcss";

@theme {
  --color-slate-850: color-mix(in srgb, var(--color-slate-900) 50%, var(--color-slate-800) 50%);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* slate-900 */
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
